# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
# C extensions
*.so
# PyInstaller
*.manifest
*.spec
# Installer logs
pip-log.txt
pip-delete-this-directory.txt
static/
# Unit test / coverage reports
htmlcov/
cowryWiseTest/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
# Translations
*.pot
# Django stuff:
*.log
# Sphinx documentation
docs/_build/
# PyBuilder
target/

#local db
 *.sqlite3

#ignore sensitive enviroment data
#*.env
bvn-production-1588170884.zip
bvn-production-1591213147.zip
BVNCB/